.multi-step-list{
    padding: 20px;
    width: 650px;
    box-sizing: border-box;
    position: relative;
    display: flex;
    @media (max-width:976px) {
        display: none;

    }
    .multi-step-item{
        list-style: none;
        background-color: $color-primary-light;
        display: inline-block;  
        text-decoration: none;
        width: 25%;
        height: 40px;
        box-sizing: border-box;
        text-align: center;
        font-weight: bold;
        position: relative;
        &.active{
            background-color: $color-primary-dark;
            &::before {
                background-color: $color-primary-dark;
            }
        }
        &::before {
            content: "";
            display: block;
            margin-left: 0;
            position: absolute;
            right: -19px;
            z-index: 6;
            top: 0;
            padding: 20px 10px;
            background-color: $color-primary-light;
            clip-path: polygon(30% 0, 100% 50%, 30% 100%, 0% 100%, 0 51%, 0% 0%);
        }
        &:after {
            content: "";
            display: block;
            margin-left: 0;
            position: absolute;
            right: -22px;
            z-index: 5;
            top: 0;
            padding: 20px 10px;
            background-color: white;
            clip-path: polygon(30% 0, 100% 50%, 30% 100%, 0% 100%, 0 51%, 0% 0%);
        }
        &:first-child{
            border-top-left-radius: 0.5em;
            border-bottom-left-radius: 0.5em;

        }
        &:last-child{
            border-top-right-radius: 0.5em;
            border-bottom-right-radius: 0.5em;
            &::after{
                display: none;
            }
            &::before {
                display: none;
            }

        }

        .item-container{
            position: absolute;
            top: 50%;
            transform: translateY(-50%);
            padding-left: 10px;
            color: $color-white;
            font-size: 0.7rem;
            margin-left: 25px;
                .step{
                display: inline-block;
                width: 20px;
                height: 20px;
                margin-right: 10px;
                border-radius: 50%;
                background-color: $color-white;
                color: $color-primary-dark;
                line-height: 20px;
            }
        }
    }
}
