body{
    font-size: 16px;
    font-family: "lato",sans-serif;
    background-color: rgb(255, 255, 255);
    position: relative;
}

@media (max-width : 1000px){
    html{
        font-size: 12px;
        font-family: "lato",sans-serif;
        background-color: rgb(255, 255, 255);
        position: relative;
    }
}