* {
  margin: 0;
  padding: 0;
}
body{
    color: #333333;
}
.sing-title{
    font-weight: bolder;
    font-size: 38px;
}
.sing-text-yellow{
    color: #F29205;
}
.sing-paragraph{
  text-align: center;
  margin-bottom: 5%;
}
.sing-paragraph p{
  font-size: 34px;
}
.sing-paragraph span{
  color: #F29205;
}
.sing-hr{
  color: #F29205;
}
.sing-button{ 
    border: 1px #E5E5E5 solid;
    color: #F29205;
    background-color: #FFFFFF;
    height: 100%;
    padding: 5px 20px;
    min-width: 210px;
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
}
.sing-button.active, .sing-button:active{
  background-color: #F29205;
  color: #FFFFFF;
}
.sing-button-yellow{
  border: 1px #F29205 solid;
}
.sing-my-10{
    padding: 10% 0%;
}
.sing-box{
  border: 1px #E5E5E5 solid;
  background-color: #F5F5F5;
  border-radius: 10px;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
  text-align: left;
  margin: 10px 0;
}
.sing-box-yellow{
  color: #F29205;
}
.sing-box.active{
  background-color: #F8E7CD;
}
/* 07-01 */
.sing-blog-img{
  width: 100%;
  border-radius: 10px;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
}
.sing-blog-box{

}
.sing-blog-content{
  text-align: left;
}
.sing-blog-title{
  min-height: 50px;
  font-size: 20px;
  font-weight: bold;
}
.sing-blog-date{
  color: #AAAAAA;
  text-align: right;
}
.sing-blog-right{
  padding: 10px 20px;
  text-align: left;
  border-bottom: 1px #AAAAAA solid;
}
.sing-blog-right.title{
  color: #F29205;
  font-weight: bolder;
  border-top: 2px #F29205 solid;
}
.sing-blog-right i{
  color: #F29205;
  float: right;
  text-align: center;
  margin-top: 5px;
  min-width: inherit;;
}

/* Bootstrap */
#singAccordion{
  margin-bottom: 10%;
}
@media (max-width: 768px){
  .sing-blog-title{
    font-size: 10px;
    min-height: 20px;
  }
  .sing-blog-p{
    font-size: 10px;
    min-height: 50px;
  }
  .sing-blog-date{
    font-size: 10px;
  }
}