* {
  margin: 0;
  padding: 0;
}
body {
  color: #333333;
}
.sing-title {
  font-weight: bolder;
  font-size: 38px;
}
.sing-text-yellow {
  color: #f29205;
}
.sing-paragraph {
  text-align: center;
  margin-bottom: 5%;
}
.sing-paragraph p {
  font-size: 34px;
}
.sing-paragraph span {
  color: #f29205;
}
.sing-hr {
  color: #f29205;
}
.sing-button {
  border: 1px #e5e5e5 solid;
  color: #f29205;
  font-weight: bold;
  background-color: #ffffff;
  height: 100%;
  padding: 5px 20px;
  min-width: 210px;
  border-radius: 5px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
}
.sing-button.active,
.sing-button:active {
  background-color: #f29205;
  color: #ffffff;
}
.sing-button-yellow {
  border: 2px #f29205 solid;
}
.sing-my-10 {
  padding: 10% 0%;
}
.sing-box {
  border: 1px #e5e5e5 solid;
  background-color: #f5f5f5;
  border-radius: 10px;
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
  text-align: left;
  margin: 10px 0;
}
.sing-box-yellow {
  color: #f29205;
}
.sing-box.active {
  background-color: #f8e7cd;
}
/* 07-01 */
.sing-blog-img {
  width: 100%;
  border-radius: 10px;
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
}

.sing-blog-content {
  text-align: left;
}
.sing-blog-title {
  min-height: 50px;
  font-size: 20px;
  font-weight: bold;
}
.sing-blog-date {
  color: #aaaaaa;
  text-align: right;
}
.sing-blog-right {
  padding: 10px 20px;
  text-align: left;
  border-bottom: 1px #aaaaaa solid;
}
.sing-blog-right.title {
  color: #f29205;
  font-weight: bolder;
  border-top: 2px #f29205 solid;
}
.sing-blog-right i {
  color: #f29205;
  float: right;
  text-align: center;
  margin-top: 5px;
  min-width: inherit;
}
/* blog detail */
.blog-detail-content p {
  margin-bottom: 10%;
}
.blog-detail-content img {
  width: 100%;
  border-radius: 15px;
  -moz-border-radius: 15px;
  -webkit-border-radius: 15px;
  -ms-border-radius: 15px;
  -o-border-radius: 15px;
}
.sing-blog-detail-title {
  text-align: center;
  font-weight: bold;
  color: #f29205;
}
.blog-detail-box {
  background-color: #f5f5f5;
  padding: 50px;
  text-align: center;
}
.blog-detail-box p{
  font-weight: bold;
}
.blog-detail-icon {
  width: 50px !important;
  height: 50px;
  border-radius: 50%;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
}
@media (max-width: 768px) {
  .sing-blog-title {
    font-size: 10px;
    min-height: 20px;
  }
  .sing-blog-p {
    font-size: 10px;
    min-height: 50px;
  }
  .sing-blog-date {
    font-size: 10px;
  }
}
