
.index {
    header {
      height: 120px;
      padding: 1rem 0;
      .logo {
        font-size: 1.5rem;
        line-height: 2.5rem;
        span {
          font-size: 3rem;
  
          color: var(--orange);
          font-weight: bold;
        }
      }
      .nav {
        width: 25rem;
        .menu {
          ul {
            li{
              position: relative;
              &:before {
                content: "";
                height: 1rem;
                width: 1px;
                position: absolute;
                border-left: 1px solid black;
                left: 125%;
              }
              &:last-child:before{
                display: none;
              }
            }
            
            
          }
        }
        .button {
          color: white;
          background-color: var(--orange);
          height: 3rem;
          margin-top: 1rem;
          border-radius: 10px;
          text-align: center;
          line-height: 3rem;
          transition: 0.2s;
          &:active {
            color: var(--orange);
            background-color: white;
          }
        }
      }
    }
    .main-container {
      .banner {
        .slider-item {
          img {
            width: 100%;
          }
        }
      }
      .intro {
        text-align: center;
        & > div {
          position: relative;
          padding: 10rem 0;
        }
        .heading {
          color: var(--orange);
          width: 50%;
          padding: 1rem 0;
          margin: auto;
          font-size: 2rem;
          font-weight: bold;
          border-bottom: 5px dotted var(--orange);
        }
        .details {
          margin: 2rem 0;
          line-height: 1.5rem;
        }
        .button {
          color: var(--orange);
          width: 30%;
          margin: auto;
          padding: 1rem 3rem;
          border: 1px solid var(--orange);
          border-radius: 5px;
          transition: 0.2s;
          &:active {
            color: white;
            background-color: var(--orange);
          }
        }
        .img {
          img {
            position: absolute;
            &:nth-child(1) {
              left: 5%;
              top: 10%;
            }
            &:nth-child(2) {
              left: 10%;
              top: 60%;
            }
            &:nth-child(3) {
              left: 85%;
              top: 10%;
            }
            &:nth-child(4) {
              left: 80%;
              top: 40%;
            }
            &:nth-child(5) {
              left: 3%;
              top: 30%;
              z-index: -1;
            }
            &:nth-child(6) {
              left: 75%;
              top: 5%;
            }
          }
        }
      }
      .search {
        .search__input {
          background-color: var(--lightOrange);
          padding: 4rem 0;
          font-weight: bold;
          .heading {
            font-size: 2rem;
            text-align: center;
          }
          .details {
            text-align: center;
            padding: 2rem 0;
            .details__heading {
              margin-bottom: 1rem;
            }
            .details__options {
              select {
                width: 70%;
                margin: auto;
                height: 3rem;
                background-color: white;
                line-height: 3rem;
                border-radius: 5px;
                option {
                  text-align: center;
                }
              }
            }
            .button {
              color: white;
              width: 70%;
              margin: auto;
              height: 3rem;
              background-color: var(--orange);
              line-height: 3rem;
              border-radius: 5px;
              transition: 0.2s;
              &:active {
                color: var(--orange);
                background-color: white;
              }
            }
          }
        }
        .search__label {
          background-color: #f5f5f5;
          height: 6rem;
          padding-top: 3rem;
          & > div {
            text-align: center;
            line-height: 3rem;
            .label__item {
              background-color: #e5e5e5;
              padding: 0 4rem;
              &--active {
                background-color: white;
              }
            }
          }
        }
        .search__result {
          padding: 6rem 0;
          .heading {
            text-align: center;
            font-size: 1.5rem;
            padding: 2rem 0;
          }
          .result__item {
            border-bottom: 1px solid #f5f5f5;
            padding: 2rem 0;
            .button {
              background-color: #f5f5f5;
              padding: 2rem 0;
              text-align: center;
              &__price {
                font-size: 1.5rem;
              }
              &__submit {
                width: 70%;
                margin: 1rem auto;
                height: 3rem;
                background-color: var(--orange);
                border-radius: 5px;
                line-height: 3rem;
                color: white;
                font-weight: bold;
                transition: 0.2s;
                &:active {
                  color: var(--orange);
                  background-color: white;
                }
              }
            }
          }
        }
      }
      .comment {
        background-color: #fcfcf0;
        padding: 5rem 0;
        .bubble {
          width: 12rem;
          margin: auto;
          border-radius: 40px;
          background-color: var(--orange);
          color: white;
          text-align: center;
          font-size: 1rem;
          line-height: 2rem;
          position: relative;
          &:after {
            position: absolute;
            content: "";
            width: 0;
            height: 0;
            border-left: 0.5rem solid transparent;
            border-right: 0.5rem solid transparent;
            border-bottom: 0.5rem solid var(--orange);
            transform: rotate(-45deg);
            bottom: -0.3rem;
          }
        }
        .heading {
          padding: 2rem;
          text-align: center;
          font-size: 1.5rem;
        }
        .content {
          padding: 2rem;
          .content__item {
            margin: 2rem 0;
          }
          .details {
            position: relative;
            background-color: white;
            padding: 2rem;
            padding-bottom: 0;
            border-radius: 5px;
            &:before {
              position: absolute;
              content: "";
              width: 0;
              height: 0;
              border-left: 2rem solid white;
              border-right: 2rem solid transparent;
              border-bottom: 2rem solid transparent;
              transform: rotate(-45deg);
              left: -1rem;
            }
            .details__comment {
              padding-bottom: 5rem;
            }
            .details__info {
              font-size: 0.8rem;
              height: 5rem;
              line-height: 5rem;
              border-top: 1px solid var(--orange);
            }
          }
        }
      }
      .cost {
        padding-top: 10rem;
  
        .heading {
          position: relative;
          font-size: 2rem;
          text-align: center;
          font-weight: bold;
          padding: 5rem;
          &:after {
            position: absolute;
            content: "";
            height: 1px;
            width: 5rem;
            border-top: 1px solid var(--orange);
            left: 50%;
            top: 70%;
            transform: translateX(-50%);
          }
        }
        .sub {
          text-align: center;
          padding-bottom: 5rem;
          line-height: 1.5rem;
        }
        .content {
          .content__title {
            font-weight: bold;
            line-height: 2rem;
          }
          .content__table {
            .content__item {
              height: 5rem;
              line-height: 5rem;
  
              margin-bottom: 0.1rem;
              & > div {
                & > div:nth-child(1) {
                  background-color: var(--orange);
                  color: white;
                }
                & > div:nth-child(2) {
                  background-color: #f5f5f5;
                }
              }
            }
          }
          .content__description {
            padding: 2rem 0;
            line-height: 1.5rem;
          }
          .benefit {
            .benefit__item {
              background-color: #f5f5f5;
              padding: 2rem 0;
              border-radius: 10px;
              margin-bottom: 1.5rem;
              .title {
                text-align: center;
                color: var(--orange);
                font-size: 1.5rem;
                font-weight: bold;
                line-height: 2.5rem;
                span {
                  font-size: 3rem;
                }
                padding: 1rem 0;
              }
              .details {
                text-align: center;
                line-height: 1.5;
              }
            }
          }
        }
        .result {
          padding: 3rem 0;
          img {
            width: 100%;
          }
          .details {
            width: 10rem;
            height: 3rem;
            line-height: 3rem;
            background-color: var(--orange);
            transform: translateY(-50%);
            color: white;
            opacity: 0.6;
            margin: auto;
            text-align: center;
          }
        }
        .steps {
          .img {
            img {
              width: 100%;
            }
          }
          .number {
            width: 2rem;
            height: 2rem;
            border-radius: 100%;
            background-color: var(--orange);
            color: white;
            position: absolute;
            top: 10px;
            left: 30px;
          }
          .caption {
            text-align: center;
            padding-top: 1.5rem;
            padding-bottom: 4rem;
          }
        }
        .blog {
          .img {
            img {
              width: 100%;
            }
          }
          .details {
            padding: 1rem 0 2rem 0;
            height: 8rem;
          }
          .date {
            text-align: right;
            padding-bottom: 2rem;
            color: #aaaaaa;
          }
        }
      }
    }
    footer {
      background-color: #4b4d46;
      color: white;
      padding: 5rem 0;
      text-align: center;
      .footer__logo {
        font-size: 1.5rem;
        line-height: 2.5rem;
        padding-bottom: 2rem;
        span {
          font-size: 2.5rem;
          font-weight: bold;
        }
      }
      .footer__menu {
        border-top: 1px solid #707070;
        border-bottom: 1px solid #707070;
        line-height: 3rem;
        font-weight: bold;
        ul {
          li {
            padding: 0 2rem;
          }
        }
      }
      .footer__nav {
        padding: 4rem 0;
        ul {
          li {
            padding: 0 2rem;
            position: relative;
            &:before {
              content: "";
              height: 1rem;
              width: 1px;
              position: absolute;
              border-left: 1px solid #707070;
              left: 100%;
            }
            &:last-child:before{  
              display: none;
            }
          }
        }
      }
      .copyright {
        color: #707070;
      }
    }
  }
  