.index header {
  height: 120px;
  padding: 1rem 0;
}

.index header .logo {
  font-size: 1.5rem;
  line-height: 2.5rem;
}

.index header .logo span {
  font-size: 3rem;
  color: var(--orange);
  font-weight: bold;
}

.index header .nav {
  width: 25rem;
}

.index header .nav .menu ul {
  position: relative;
}

.index header .nav .menu ul li:before {
  content: "";
  height: 1rem;
  width: 1px;
  position: absolute;
  border-left: 1px solid black;
  left: 7.5rem;
}

.index header .nav .menu ul li:after {
  content: "";
  height: 1rem;
  width: 1px;
  position: absolute;
  border-left: 1px solid black;
  right: 7.5rem;
}

.index header .nav .button {
  color: white;
  background-color: var(--orange);
  height: 3rem;
  margin-top: 1rem;
  border-radius: 10px;
  text-align: center;
  line-height: 3rem;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}

.index header .nav .button:active {
  color: var(--orange);
  background-color: white;
}

.index .main-container .banner .slider-item img {
  width: 100%;
}

.index .main-container .intro {
  text-align: center;
}

.index .main-container .intro > div {
  position: relative;
  padding: 10rem 0;
}

.index .main-container .intro .heading {
  color: var(--orange);
  width: 50%;
  padding: 1rem 0;
  margin: auto;
  font-size: 2rem;
  font-weight: bold;
  border-bottom: 5px dotted var(--orange);
}

.index .main-container .intro .details {
  margin: 2rem 0;
  line-height: 1.5rem;
}

.index .main-container .intro .button {
  color: var(--orange);
  width: 30%;
  margin: auto;
  padding: 1rem 3rem;
  border: 1px solid var(--orange);
  border-radius: 5px;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}

.index .main-container .intro .button:hover {
  color: white;
  background-color: var(--orange);
}

.index .main-container .intro .img img {
  position: absolute;
}

.index .main-container .intro .img img:nth-child(1) {
  left: 5%;
  top: 10%;
}

.index .main-container .intro .img img:nth-child(2) {
  left: 10%;
  top: 60%;
}

.index .main-container .intro .img img:nth-child(3) {
  left: 85%;
  top: 10%;
}

.index .main-container .intro .img img:nth-child(4) {
  left: 80%;
  top: 40%;
}

.index .main-container .intro .img img:nth-child(5) {
  left: 3%;
  top: 30%;
  z-index: -1;
}

.index .main-container .intro .img img:nth-child(6) {
  left: 75%;
  top: 5%;
}

.index .main-container .search .search__input {
  background-color: var(--lightOrange);
  padding: 4rem 0;
  font-weight: bold;
}

.index .main-container .search .search__input .heading {
  font-size: 2rem;
  text-align: center;
}

.index .main-container .search .search__input .details {
  text-align: center;
  padding: 2rem 0;
}

.index .main-container .search .search__input .details .details__heading {
  margin-bottom: 1rem;
}

.index .main-container .search .search__input .details .details__options select {
  width: 70%;
  margin: auto;
  height: 3rem;
  background-color: white;
  line-height: 3rem;
  border-radius: 5px;
}

.index .main-container .search .search__input .details .details__options select option {
  text-align: center;
}

.index .main-container .search .search__input .details .button {
  color: white;
  width: 70%;
  margin: auto;
  height: 3rem;
  background-color: var(--orange);
  line-height: 3rem;
  border-radius: 5px;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}

.index .main-container .search .search__input .details .button:active {
  color: var(--orange);
  background-color: white;
}

.index .main-container .search .search__label {
  background-color: #f5f5f5;
  height: 6rem;
  padding-top: 3rem;
}

.index .main-container .search .search__label > div {
  text-align: center;
  line-height: 3rem;
}

.index .main-container .search .search__label > div .label__item {
  background-color: #e5e5e5;
  padding: 0 4rem;
}

.index .main-container .search .search__label > div .label__item--active {
  background-color: white;
}

.index .main-container .search .search__result {
  padding: 6rem 0;
}

.index .main-container .search .search__result .heading {
  text-align: center;
  font-size: 1.5rem;
  padding: 2rem 0;
}

.index .main-container .search .search__result .result__item {
  border-bottom: 1px solid #f5f5f5;
  padding: 2rem 0;
}

.index .main-container .search .search__result .result__item .button {
  background-color: #f5f5f5;
  padding: 2rem 0;
  text-align: center;
}

.index .main-container .search .search__result .result__item .button__price {
  font-size: 1.5rem;
}

.index .main-container .search .search__result .result__item .button__submit {
  width: 70%;
  margin: 1rem auto;
  height: 3rem;
  background-color: var(--orange);
  border-radius: 5px;
  line-height: 3rem;
  color: white;
  font-weight: bold;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}

.index .main-container .search .search__result .result__item .button__submit:active {
  color: var(--orange);
  background-color: white;
}

.index .main-container .comment {
  background-color: #fcfcf0;
  padding: 5rem 0;
}

.index .main-container .comment .bubble {
  width: 12rem;
  margin: auto;
  border-radius: 40px;
  background-color: var(--orange);
  color: white;
  text-align: center;
  font-size: 1rem;
  line-height: 2rem;
  position: relative;
}

.index .main-container .comment .bubble:after {
  position: absolute;
  content: "";
  width: 0;
  height: 0;
  border-left: 0.5rem solid transparent;
  border-right: 0.5rem solid transparent;
  border-bottom: 0.5rem solid var(--orange);
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
  bottom: -0.3rem;
}

.index .main-container .comment .heading {
  padding: 2rem;
  text-align: center;
  font-size: 1.5rem;
}

.index .main-container .comment .content {
  padding: 2rem;
}

.index .main-container .comment .content .content__item {
  margin: 2rem 0;
}

.index .main-container .comment .content .details {
  position: relative;
  background-color: white;
  padding: 2rem;
  padding-bottom: 0;
  border-radius: 5px;
}

.index .main-container .comment .content .details:before {
  position: absolute;
  content: "";
  width: 0;
  height: 0;
  border-left: 2rem solid white;
  border-right: 2rem solid transparent;
  border-bottom: 2rem solid transparent;
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
  left: -1rem;
}

.index .main-container .comment .content .details .details__comment {
  padding-bottom: 5rem;
}

.index .main-container .comment .content .details .details__info {
  font-size: 0.8rem;
  height: 5rem;
  line-height: 5rem;
  border-top: 1px solid var(--orange);
}

.index .main-container .cost {
  padding-top: 10rem;
}

.index .main-container .cost .heading {
  position: relative;
  font-size: 2rem;
  text-align: center;
  font-weight: bold;
  padding: 5rem;
}

.index .main-container .cost .heading:after {
  position: absolute;
  content: "";
  height: 1px;
  width: 5rem;
  border-top: 1px solid var(--orange);
  left: 50%;
  top: 70%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}

.index .main-container .cost .sub {
  text-align: center;
  padding-bottom: 5rem;
  line-height: 1.5rem;
}

.index .main-container .cost .content .content__title {
  font-weight: bold;
  line-height: 2rem;
}

.index .main-container .cost .content .content__table .content__item {
  height: 5rem;
  line-height: 5rem;
  margin-bottom: 0.1rem;
}

.index .main-container .cost .content .content__table .content__item > div > div:nth-child(1) {
  background-color: var(--orange);
  color: white;
}

.index .main-container .cost .content .content__table .content__item > div > div:nth-child(2) {
  background-color: #f5f5f5;
}

.index .main-container .cost .content .content__description {
  padding: 2rem 0;
  line-height: 1.5rem;
}

.index .main-container .cost .content .benefit .benefit__item {
  background-color: #f5f5f5;
  padding: 2rem 0;
  border-radius: 10px;
  margin-bottom: 1.5rem;
}

.index .main-container .cost .content .benefit .benefit__item .title {
  text-align: center;
  color: var(--orange);
  font-size: 1.5rem;
  font-weight: bold;
  line-height: 2.5rem;
  padding: 1rem 0;
}

.index .main-container .cost .content .benefit .benefit__item .title span {
  font-size: 3rem;
}

.index .main-container .cost .content .benefit .benefit__item .details {
  text-align: center;
  line-height: 1.5;
}

.index .main-container .cost .result {
  padding: 3rem 0;
}

.index .main-container .cost .result img {
  width: 100%;
}

.index .main-container .cost .result .details {
  width: 10rem;
  height: 3rem;
  line-height: 3rem;
  background-color: var(--orange);
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  color: white;
  opacity: 0.6;
  margin: auto;
  text-align: center;
}

.index .main-container .cost .steps .img img {
  width: 100%;
}

.index .main-container .cost .steps .number {
  width: 2rem;
  height: 2rem;
  border-radius: 100%;
  background-color: var(--orange);
  color: white;
  position: absolute;
  top: 10px;
  left: 30px;
}

.index .main-container .cost .steps .caption {
  text-align: center;
  padding-top: 1.5rem;
  padding-bottom: 4rem;
}

.index .main-container .cost .blog .img img {
  width: 100%;
}

.index .main-container .cost .blog .details {
  padding: 1rem 0 2rem 0;
  height: 8rem;
}

.index .main-container .cost .blog .date {
  text-align: right;
  padding-bottom: 2rem;
  color: #aaaaaa;
}

.index footer {
  background-color: #4b4d46;
  color: white;
  padding: 5rem 0;
  text-align: center;
}

.index footer .footer__logo {
  font-size: 1.5rem;
  line-height: 2.5rem;
  padding-bottom: 2rem;
}

.index footer .footer__logo span {
  font-size: 2.5rem;
  font-weight: bold;
}

.index footer .footer__menu {
  border-top: 1px solid #707070;
  border-bottom: 1px solid #707070;
  line-height: 3rem;
  font-weight: bold;
}

.index footer .footer__menu ul li {
  padding: 0 2rem;
}

.index footer .footer__nav {
  padding: 4rem 0;
}

.index footer .footer__nav ul li {
  padding: 0 2rem;
}

.index footer .footer__nav ul li:before {
  content: "";
  height: 1rem;
  width: 1px;
  position: absolute;
  border-left: 1px solid #707070;
  left: 55.8%;
}

.index footer .footer__nav ul li:after {
  content: "";
  height: 1rem;
  width: 1px;
  position: absolute;
  border-left: 1px solid #707070;
  right: 55.8%;
}

.index footer .copyright {
  color: #707070;
}
/*# sourceMappingURL=index.css.map */