:root {
  --orange: #f29205;
  --lightOrange: #f8e7cd;
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border: 0;
}

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 62.5%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

.wrapper header {
  height: 120px;
  padding: 1rem 0;
}

.wrapper header .logo {
  font-size: 1.5rem;
  line-height: 2.5rem;
}

.wrapper header .logo span {
  font-size: 3rem;
  color: var(--orange);
  font-weight: bold;
}

.wrapper header .nav {
  width: 25rem;
}

.wrapper header .nav .menu ul {
  position: relative;
}

.wrapper header .nav .menu ul li:before {
  content: "";
  height: 1rem;
  width: 1px;
  position: absolute;
  border-left: 1px solid black;
  left: 7.5rem;
}

.wrapper header .nav .menu ul li:after {
  content: "";
  height: 1rem;
  width: 1px;
  position: absolute;
  border-left: 1px solid black;
  right: 7.5rem;
}

.wrapper header .nav .button {
  color: white;
  background-color: var(--orange);
  height: 3rem;
  margin-top: 1rem;
  border-radius: 10px;
  text-align: center;
  line-height: 3rem;
}

.wrapper .main-container .banner .slider-item img {
  width: 100%;
}

.wrapper .main-container .intro {
  text-align: center;
}

.wrapper .main-container .intro > div {
  position: relative;
  padding: 10rem 0;
}

.wrapper .main-container .intro .heading {
  color: var(--orange);
  width: 50%;
  padding: 1rem 0;
  margin: auto;
  font-size: 2rem;
  font-weight: bold;
  border-bottom: 5px dotted var(--orange);
}

.wrapper .main-container .intro .details {
  margin: 2rem 0;
  line-height: 1.5rem;
}

.wrapper .main-container .intro .button {
  color: var(--orange);
  width: 30%;
  margin: auto;
  padding: 1rem 3rem;
  border: 1px solid var(--orange);
  border-radius: 5px;
}

.wrapper .main-container .intro .img img {
  position: absolute;
}

.wrapper .main-container .intro .img img:nth-child(1) {
  left: 5%;
  top: 10%;
}

.wrapper .main-container .intro .img img:nth-child(2) {
  left: 10%;
  top: 60%;
}

.wrapper .main-container .intro .img img:nth-child(3) {
  left: 85%;
  top: 10%;
}

.wrapper .main-container .intro .img img:nth-child(4) {
  left: 80%;
  top: 40%;
}

.wrapper .main-container .intro .img img:nth-child(5) {
  left: 3%;
  top: 30%;
  z-index: -1;
}

.wrapper .main-container .intro .img img:nth-child(6) {
  left: 75%;
  top: 5%;
}

.wrapper .main-container .search .search__input {
  background-color: var(--lightOrange);
  padding: 4rem 0;
  font-weight: bold;
}

.wrapper .main-container .search .search__input .heading {
  font-size: 2rem;
  text-align: center;
}

.wrapper .main-container .search .search__input .details {
  text-align: center;
  padding: 2rem 0;
}

.wrapper .main-container .search .search__input .details .details__heading {
  margin-bottom: 1rem;
}

.wrapper .main-container .search .search__input .details .details__options select {
  width: 70%;
  margin: auto;
  height: 3rem;
  background-color: white;
  line-height: 3rem;
  border-radius: 5px;
}

.wrapper .main-container .search .search__input .details .details__options select option {
  text-align: center;
}

.wrapper .main-container .search .search__input .details .button {
  color: white;
  width: 70%;
  margin: auto;
  height: 3rem;
  background-color: var(--orange);
  line-height: 3rem;
  border-radius: 5px;
}

.wrapper .main-container .search .search__label {
  background-color: #f5f5f5;
  height: 6rem;
  padding-top: 3rem;
}

.wrapper .main-container .search .search__label > div {
  text-align: center;
  line-height: 3rem;
}

.wrapper .main-container .search .search__label > div .label__item {
  background-color: #e5e5e5;
  padding: 0 4rem;
}

.wrapper .main-container .search .search__label > div .label__item--active {
  background-color: white;
}

.wrapper .main-container .search .search__result {
  padding: 6rem 0;
}

.wrapper .main-container .search .search__result .heading {
  text-align: center;
  font-size: 1.5rem;
  padding: 2rem 0;
}

.wrapper .main-container .search .search__result .result__item {
  border-bottom: 1px solid #f5f5f5;
  padding: 2rem 0;
}

.wrapper .main-container .search .search__result .result__item .button {
  background-color: #f5f5f5;
  padding: 2rem 0;
  text-align: center;
}

.wrapper .main-container .search .search__result .result__item .button__price {
  font-size: 1.5rem;
}

.wrapper .main-container .search .search__result .result__item .button__submit {
  width: 70%;
  margin: 1rem auto;
  height: 3rem;
  background-color: var(--orange);
  border-radius: 5px;
  line-height: 3rem;
  color: white;
  font-weight: bold;
}

.wrapper .main-container .comment {
  background-color: #fcfcf0;
  padding: 5rem 0;
}

.wrapper .main-container .comment .bubble {
  width: 12rem;
  margin: auto;
  border-radius: 40px;
  background-color: var(--orange);
  color: white;
  text-align: center;
  font-size: 1rem;
  line-height: 2rem;
  position: relative;
}

.wrapper .main-container .comment .bubble:after {
  position: absolute;
  content: "";
  width: 0;
  height: 0;
  border-left: 0.5rem solid transparent;
  border-right: 0.5rem solid transparent;
  border-bottom: 0.5rem solid var(--orange);
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
  bottom: -0.3rem;
}

.wrapper .main-container .comment .heading {
  padding: 2rem;
  text-align: center;
  font-size: 1.5rem;
}

.wrapper .main-container .comment .content {
  padding: 2rem;
}

.wrapper .main-container .comment .content .content__item {
  margin: 2rem 0;
}

.wrapper .main-container .comment .content .details {
  position: relative;
  background-color: white;
  padding: 2rem;
  padding-bottom: 0;
  border-radius: 5px;
}

.wrapper .main-container .comment .content .details:before {
  position: absolute;
  content: "";
  width: 0;
  height: 0;
  border-left: 2rem solid white;
  border-right: 2rem solid transparent;
  border-bottom: 2rem solid transparent;
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
  left: -1rem;
}

.wrapper .main-container .comment .content .details .details__comment {
  padding-bottom: 5rem;
}

.wrapper .main-container .comment .content .details .details__info {
  font-size: 0.8rem;
  height: 5rem;
  line-height: 5rem;
  border-top: 1px solid var(--orange);
}

.wrapper .main-container .cost {
  padding-top: 10rem;
}

.wrapper .main-container .cost .heading {
  position: relative;
  font-size: 2rem;
  text-align: center;
  font-weight: bold;
  padding-bottom: 5rem;
}

.wrapper .main-container .cost .heading:after {
  position: absolute;
  content: "";
  height: 1px;
  width: 5rem;
  border-top: 1px solid var(--orange);
  left: 50%;
  top: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}
/*# sourceMappingURL=style.css.map */