.button {
    border: 2px solid #F29205 !important;
    padding: 10px 50px !important;
    background-color: #FFFFFF !important;
    color: #F29205 !important;
    font-weight: 700;


}

.button:hover {
    border: 2px solid #F29205 !important;
    padding: 10px 50px !important;
    color: #FFFFFF !important;
    background-color: #F29205 !important;
}