.banner{
    padding-top: 50px;
    .container-link-page{
        border-top: 1.5px solid $color-grey-light-1;
        border-bottom: 1.5px solid $color-grey-light-1;
        padding: 10px 0;
    }
    .box-title-banner{
        padding-top: 50px;
        padding-bottom: 30px;
    }
}