* {
  box-sizing: border-box;
  border: 0;
}
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 62.5%;
  font-family: "Roboto", sans-serif !important;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
.wrapper {
  overflow: hidden;
  header {
    height: 5rem;
    & > div {
      width: 100%;
    }
    .logo {
      width: 100%;
    }
    .search {
      input {
        border-radius: 50px;
        width: 100%;
        border: 1px solid #5e9fd1;
        padding-left: 1rem;
      }
    }
    .lang {
      display: flex;
      align-items: center;
      &--desktop {
        display: flex;
        @media screen and (max-width: 768px) {
          display: none;
        }
      }
      &--mobile {
        display: none;
        @media screen and (max-width: 768px) {
          display: flex;
        }
      }
      &__item {
        margin: 0 15px;
        padding: 0 5px;
        line-height: 1.5rem;
        border-radius: 50px;
        color: white;
        background-color: #d01918;
        &--blue {
          background-color: #4c95cc;
        }
        @media screen and (max-width: 768px) {
          background-color: unset;
          margin: 0;
          display: flex;
          align-items: center;
          img {
            width: 1rem;
          }
        }
      }
    }
  }

  nav {
    margin-bottom: 2rem;
    .nav__img {
      width: 100%;

      img {
        display: block;
        width: 100%;
      }
    }
    .nav__menu {
      width: 100%;
      height: 2rem;
      padding: 0 0.5rem;
      font-size: 0.8rem;
      font-weight: bold;
      text-transform: uppercase;
      color: white;
      display: flex;
      justify-content: space-between;
      align-items: center;
      background-color: #418a58;
    }
    .nav__menu--desktop {
      display: flex;
      @media screen and (max-width: 576px) {
        display: none;
      }
    }
    .nav__menu--mobile {
      display: none;
      .nav_menu__burger {
        display: none;
      }
      @media screen and (max-width: 576px) {
        display: flex;
        position: relative;
        justify-content: flex-end;
        .nav__menu__burger {
          display: block;
          img {
            height: 1.5rem;
          }
        }
      }
      .nav__menu__mobile {
        display: none;
        width: 100%;
        position: absolute;
        top: 2rem;
        right: 0;
        text-align: right;
        background-color: #418a58;
        z-index: 1000;
        .nav__menu__item {
          height: 2rem;
          padding: 1rem;
        }
      }
    }
  }
  section {
    .slider {
      .slide__item {
        img {
          width: 100%;
        }
      }
    }
    .article {
      &__heading {
        text-transform: uppercase;
        font-weight: bold;
        height: 1.5rem;
        border-bottom: 1px solid black;
      }
      &__content {
        padding-top: 1rem;
        &__item {
          &__img {
            img {
              width: 100%;
            }
          }
          &__details {
            font-weight: bold;
          }
        }
      }
    }
    .divider {
      margin: 2rem 0;
      img {
        width: 100%;
      }
    }
    .category {
      &__item {
        background-color: #fafafa;
        border-top: 3px solid #418a58;
        padding: 1rem;
        height: 20rem;

        margin-bottom: 1rem;
        &__heading {
          text-transform: uppercase;
          font-weight: bold;
        }
        &__content {
          padding-top: 1rem;
          .content__item {
            height: 6rem;

            &__img {
              img {
                width: 100%;
              }
            }
            &__details {
              font-size: 0.8rem;
              line-height: 1rem;
            }
          }
        }
      }
    }
  }
  aside {
    .map {
      img {
        width: 100%;
      }
    }
    .links {
      color: #3179c4;
      margin-bottom: 1rem;
      .link__heading {
        text-align: center;
        font-weight: bold;
        border-top: 1px solid grey;
        border-bottom: 1px solid grey;
        line-height: 1.5rem;
        margin-bottom: 0.5rem;
      }
      .link__item {
        line-height: 1.5rem;
        padding-left: 2rem;
        border-bottom: 1px solid rgb(214, 213, 213);
        &:before {
          content: "\2022";
          position: absolute;
          left: 1.5rem;
          font-size: 2rem;
        }
      }
    }
    .promo {
      img {
        width: 100%;
      }
    }
    .video {
      color: #3179c4;
      &__heading {
        text-align: center;
        font-weight: bold;
        border-top: 1px solid grey;
        border-bottom: 1px solid grey;
        line-height: 1.5rem;
        margin-bottom: 0.5rem;
      }
      &__item {
        img {
          width: 100%;
        }
        font-size: 1rem;
      }
    }
    .mostviews {
      color: #3179c4;
      margin: 1rem 0;
      &__heading {
        text-align: center;
        font-weight: bold;
        border-top: 1px solid grey;
        border-bottom: 1px solid grey;
        line-height: 1.5rem;
        margin-bottom: 0.5rem;
      }
      &__item {
        line-height: 1.5rem;
        padding-left: 2rem;
        &:before {
          content: "\2022";
          position: absolute;
          left: 1.5rem;
          font-size: 2rem;
        }
      }
    }
  }
  footer {
    .nav {
      background-color: #418a58;
      .menu {
        display: flex;
        line-height: 2rem;
        width: 70%;
        margin: auto;
        justify-content: space-between;
        align-items: center;
        text-transform: uppercase;
        font-weight: bold;
        color: white;
        @media screen and (max-width: 576px) {
          width: 100%;
          flex-direction: column;
        }
      }
    }
    .content {
      padding-top: 2rem;
      .heading {
        font-weight: bold;
        padding-bottom: 1rem;
      }
      .details {
        line-height: 1.5rem;
        margin-bottom: 2rem;
        .item {
          line-height: 1.5rem;
        }
        & > img {
          width: 100%;
        }
      }
    }
  }
}
@media only screen and (max-width: 992px) {
  html,
  body,
  div,
  span,
  applet,
  object,
  iframe,
  h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  p,
  blockquote,
  pre,
  a,
  abbr,
  acronym,
  address,
  big,
  cite,
  code,
  del,
  dfn,
  em,
  img,
  ins,
  kbd,
  q,
  s,
  samp,
  small,
  strike,
  strong,
  sub,
  sup,
  tt,
  var,
  b,
  u,
  i,
  center,
  dl,
  dt,
  dd,
  ol,
  ul,
  li,
  fieldset,
  form,
  label,
  legend,
  table,
  caption,
  tbody,
  tfoot,
  thead,
  tr,
  th,
  td,
  article,
  aside,
  canvas,
  details,
  embed,
  figure,
  figcaption,
  footer,
  header,
  hgroup,
  menu,
  nav,
  output,
  ruby,
  section,
  summary,
  time,
  mark,
  audio,
  video {
    font-size: 75%;
  }
}
@media only screen and (max-width: 768px) {
  html,
  body,
  div,
  span,
  applet,
  object,
  iframe,
  h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  p,
  blockquote,
  pre,
  a,
  abbr,
  acronym,
  address,
  big,
  cite,
  code,
  del,
  dfn,
  em,
  img,
  ins,
  kbd,
  q,
  s,
  samp,
  small,
  strike,
  strong,
  sub,
  sup,
  tt,
  var,
  b,
  u,
  i,
  center,
  dl,
  dt,
  dd,
  ol,
  ul,
  li,
  fieldset,
  form,
  label,
  legend,
  table,
  caption,
  tbody,
  tfoot,
  thead,
  tr,
  th,
  td,
  article,
  aside,
  canvas,
  details,
  embed,
  figure,
  figcaption,
  footer,
  header,
  hgroup,
  menu,
  nav,
  output,
  ruby,
  section,
  summary,
  time,
  mark,
  audio,
  video {
    font-size: 87.5%;
  }
}
@media only screen and (max-width: 576px) {
  html,
  body,
  div,
  span,
  applet,
  object,
  iframe,
  h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  p,
  blockquote,
  pre,
  a,
  abbr,
  acronym,
  address,
  big,
  cite,
  code,
  del,
  dfn,
  em,
  img,
  ins,
  kbd,
  q,
  s,
  samp,
  small,
  strike,
  strong,
  sub,
  sup,
  tt,
  var,
  b,
  u,
  i,
  center,
  dl,
  dt,
  dd,
  ol,
  ul,
  li,
  fieldset,
  form,
  label,
  legend,
  table,
  caption,
  tbody,
  tfoot,
  thead,
  tr,
  th,
  td,
  article,
  aside,
  canvas,
  details,
  embed,
  figure,
  figcaption,
  footer,
  header,
  hgroup,
  menu,
  nav,
  output,
  ruby,
  section,
  summary,
  time,
  mark,
  audio,
  video {
    font-size: 100%;
  }
}
